* {
    margin: 0;
    box-sizing: border-box;
    color-scheme: dark white;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-image: linear-gradient(45deg, #333, #222);
    color: #fff;
    padding: 20px 10px;
}

main {
    width: 90%;
    margin: 30px auto;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main section .button-container {
    text-align: right;
}

main section .add-btn {
    background-color: rgb(4, 39, 53);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(59, 62, 63, .7);
    transition: .5s;

}

main section .add-btn:hover {
    box-shadow: 0 0 10px rgb(5, 138, 190);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card-container .card {
    box-shadow: 0 0 5px rgb(5, 138, 190);
    border-radius: 10px;
    transition: 0.5s;
}

.card-container .card:hover {
    scale: 1.01;
}

.card-container .card .card-header {
    overflow: hidden;
}

.card-container .card .card-header img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 1s;
}

.card-container .card .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.card-container .card .card-body h2 {
    color: #f1f1f1;
}

.card-container .card .card-body h4 {
    color: #e1e1e1;
}

.card-container .card .card-body p {
    text-align: center;
    height: 115px;
    overflow-y: auto;
    color: #c1c1c1;
}

.card-container .card .card-body p::-webkit-scrollbar {
    width: 2px;
}

.card-container .card .card-body p::-webkit-scrollbar-track {
    background: #010101;
}

.card-container .card .card-body p::-webkit-scrollbar-thumb {
    background: #f1f1f1;
}

.card-container .card .card-footer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.card-container .card .card-footer a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 5px 40px;
    border-radius: 100px;
    transition: .5s;
}

.card-container .card .card-footer a:first-child {
    border: 1px solid rgb(1, 51, 70);
}

.card-container .card .card-footer a:first-child:hover {
    background-color: rgb(1, 51, 70);
    color: #fff;
    box-shadow: 0 0 5px rgb(25, 167, 223);
}

.card-container .card .card-footer a:last-child {
    border: 1px solid rgb(130, 6, 101);
}

.card-container .card .card-footer a:last-child:hover {
    background-color: rgb(130, 6, 101);
    color: #fff;
    box-shadow: 0 0 5px rgb(244, 7, 189);
}