<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management</title>
    <link rel="stylesheet" href="/style/add-employee.css">
</head>

<body>
    <header>
        <h1>Employee Management</h1>
    </header>

    <main>
        <div class="home-link">
            <a href="/view-employee">Back to home</a>
        </div>
        <section class="details-section">

            <div class="details-container">
                <div class="details-heading">
                    <h3>Employee Details</h3>
                </div>

                <div class="details-form">
                    <form action="/save-employee" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="name">Enter Name</label>
                            <input type="text" name="name" id="name" class="form-control" th:value="${employee.name}">
                        </div>

                        <div class="form-group">
                            <label for="designation">Enter Designation</label>
                            <input type="text" name="designation" id="designation" class="form-control"
                                th:value="${employee.designation}">
                        </div>

                        <div class="form-group">
                            <label for="picture">Select A Picture</label>
                            <input type="file" name="picture" id="picture">
                        </div>

                        <div class="form-group">
                            <label for="description">Enter Description</label>
                            <textarea name="description" id="description" rows="5" class="form-control"
                                th:text="${employee.description}"></textarea>
                        </div>

                        <input type="hidden" name="id" th:value="${employee.id}">
                        <input type="hidden" name="pictureURL" th:value="${employee.pictureURL}">
                        <div class="form-group">
                            <input type="submit" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>

</html>